<meta name="google-site-verification" content="psJOb46reXDo68vba5L18OAYCXwxKS34qECByhQpd3U" />
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}">
{% elif config.keywords %}
<meta name="keywords" content="{{ config.keywords | join(', ') }}">
{% endif %}
{% if page.path and (page.path.startsWith('archives/') or page.path.startsWith('tags/') or (page.path.startsWith('categories/') and page.path != 'categories/index.html')) %}
<meta name="robots" content="noindex,follow">
{% endif %}
